body {
    margin: 0;
    font-family: 'Markazi Text', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
    display: flex;
}

nav img {
    width: 10vw;
}

nav ul li {
    display: inline-block;
    padding: 1em;
}

header {
    padding-top: 150px;
    background-color: #495e57;
}

header section {
    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-items: center;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 50px;
    color: #EDEFEE;
}


h2 {
    color: #F4CE14;
    font-size: 40pt;
}

h3 {
    font-size: 20pt;
}

p {
    font-size: 16pt;
    max-width: 65ch;
    line-height: 1.5;
}

button {
    background-color: #F4CE14;
    color: black;
    padding: 20px;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    font-size: 16pt;
    font-weight: bold;
}

header img {
    height: 400px;
    border-radius: 12pt;
}

footer section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    justify-items: center;
    width: 80%;
    margin-left: 10%;
    gap: 20px;
}


footer {
    padding: 20px;
}

footer img {
    width: 20vw;
    display: block;
}

@media screen and (max-width: 800px) {
    footer img {
        display: none;
    }
}